*
!*/
.*
!.gitignore
!.gitkeep
!**/src/**/*.js
!**/src/**/*.ts
!**/tests/**/*test.js
!**/tests/**/*test.ts
!.prettierrc
!eslint.config.mts
!pnpm-lock.yaml
!package.json
!tsconfig.json
!vitest.config.ts
